@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}
div, nav, body {
  margin: 0;
  padding: 0;
  font-family: "roboto";
}
nav.nav {
  position: fixed;
  width: 100%;
  height: 14vh;
  margin: 0;
  padding: 0.5vh;
  z-index: 1;
  transition: all 0.2s linear;
  background-color: rgb(109, 214, 208);
}
nav.nav .logo span {
  padding-left: 2vw;
}
.nav a {
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.2s linear;
}
.nav a:hover {
  color: rgba(255, 255, 255, 1);
}
.nav-menu span {
  font-size: 3vh;
  display: inline-block;
  margin: 2vh;
}
.nav-menu {
  position: absolute;
  right: 2vw;
  z-index: 1;
}
.fa-bars {
  color: #fff;
}
/* new dp user */
span.notif {
    margin-top: 1.8vh;
    font-size: 1.7em;
}
span.dp {
  margin: 0;
}
img.img-fluid.dp-user {
  height: 7vh;
  border-radius: 50%;
}
.profile-settings-logout {
    position: absolute;
    right: -1.8vw;
    top: 11vh;
    background-color: rgba(72, 203, 203, 0.66);
    display: none;
}
a.nav-link.nav-dp {
    padding: 0;
    margin-top: 3vh;
    cursor: pointer;
}
/* lahan */
.lahan-saya {
  position: absolute;
  background-color: rgba(72, 203, 203, 0.66);
  display: none;
}


@media only screen and (max-width: 991px) {
    div#navtoggle {
      position: static;
      background-color: rgb(109, 214, 208);
      z-index: 2;
    }
    .nav a {
      color: rgba(255, 255, 255, 0.8);
    }
    .nav a:hover {
      color: rgba(255, 255, 255, 1);
    }
}
@media only screen and (max-width: 973px) {
  .lahan-saya {
    left: 0;
    right: 0;
    top: 0;
    display: block;
  }
  .profile-settings-logout {
    left: 0;
    right: 0;
    top: 0;
    display: block;
    
  }
}

@media only screen and (min-width: 992px) {
    .nav-menu {
        position: absolute;
    }
}
